@charset "UTF-8";

/*
Project Name: Midterm Prep - Scaffolds
Author: Jessica Hernandez
*/

/*
Fonts Starts
*/

@font-face {
    font-family: 'Neutraface';
    src: url('../fonts/Neutraface2Text-Book.woff2') format('woff2'),
        url('../fonts/Neutraface2Text-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arial_blackregular';
    src: url('../fonts/arialblack-webfont.woff2') format('woff2'),
         url('../fonts/arialblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
Accessibility Starts
*/

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/*
Accessibility Ends
*/

/*
Table of Contents:
        01. Fonts
        02. General Styles
        03. Classes
        04. IDs
*/

/*
Fonts Start
*/

/*
Fonts End
*/

/*
General Styles Starts
*/

body {
  font-family: "Neutraface", Helvetica, sans-serif;
  font-size: 25px;
  color: #fff;
}

p {
  font-family: "Neutraface", Helvetica, sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  margin: 0;
}

/*
Classes Starts
*/

.hidden {
  display: none;
}

.aboutSection {
  width: 441px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutImg {
  width: 400px;
  height: 400px;
  margin-top: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutTitle {
  width: 400px;
  height: 48px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutTitle p {
  font-family: "arial_blackregular", Helvetica, sans-sans-serif;
  font-size: 1.5em;
  color: #1B3D78;
}

.aboutCopy {
  width: 400px;
  height: 300px;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flavourOption {
  width: 17em;
  height: 30em;
  background-color: #6F6F6F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3em;
}

.flavourOptionFirst {
  width: 17em;
  height: 30em;
  background-color: #6F6F6F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3em;
  margin-left: 3em;
}

.adImg {
  height: 500px;
  background-color: #6F6F6F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adWriteup {
  margin: auto;
  margin-bottom: 70px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adTitle {
  width: 905px;
  height: 90px;
  margin: auto;
  margin-bottom: 50px;
  background-color: #6F6F6F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adCopy {
  height: 200px;
  width: 1500px;
  margin: auto;
  background-color: #CECECE;
  display: flex;
  align-items: center;
  justify-content: center;
}

.halfAdImg {
  width: 960px;
  height: 500px;
  background-color: #CECECE;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "arial_blackregular", Helvetica, sans-serif;
  font-size: 2em;
  align-self: left;
  color: #1B3D78;
  padding-bottom: 50px;
}

/*
Classes Ends
*/

/*
IDs Starts
*/

#siteContainer {
  margin: 0 auto;
  width: auto;
}

#mainHeader {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

#logo {
  width: 265px;
  height: 100px;
  position: absolute;
  align-self: center;
}

#logo img {
  width: 265px;
  height: auto;
}

#mainNav {
  height: 45px;
  width: auto;
  background-color: #0084C9;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainNav li {
  display: inline;
  justify-content: space-between;
  font-family: "arial_blackregular", Helvetica, sans-serif;
  padding: 15px;
}

#mainNav li a {
  color: #fff;
  text-decoration: none;
}

#indexHero {
  height: 500px;
  width: auto;
  overflow: hidden;
  background-color: #6F6F6F;
  display: flex;
  align-items: center;
  justify-content: center;
}

#aboutPrev {
  height: 500px;
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
  justify-content: center;
  align-items: center;
}

#abPrevImg {
  float: left;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#abPrevTxt {
  float: right;
  flex-direction: column;
  width: 949px;
  height: 430px;
  margin-left: 40px;
  color: #fff;
  display: flex;
  align-items: left;
  justify-content: center;
}

#blogMerch {
  height: 550px;
  background-color: #0084C9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

#indexBlog {
  width: 753px;
  height: 500px;
  float: left;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

#blogInfo {
  display: flex;
  flex-direction: column;
}

#blogTitle {
  margin-left: -78px;
  margin-bottom: 10px;
}

#blogTitle p {
  font-family: "arial_blackregular", Helvetica, sans-serif;
  font-size: 2em;
  color: #fff;
  text-align: left;
  letter-spacing: 5px;
}

#blogText {
  margin-left: -78px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#blogText p {
  font-family: "Neutraface", Helvetica, sans-serif;
  color: #fff;
  text-align: left;
}

#blogBtn {
  margin-left: 10px;
  margin-top: 10px;
}

#blogBtn a {
  font-family: "arial_blackregular", Helvetica, sans-serif;
  color: #fff;

}

#indexMerch {
  width: 753px;
  height: 500px;
  float: right;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

#merchInfo {
  display: flex;
  flex-direction: column;
}

#merchTitle {
  margin-left: -78px;
  margin-bottom: 10px;
}

#merchTitle p {
  font-family: "arial_blackregular", Helvetica, sans-serif;
  font-size: 2em;
  color: #fff;
  text-align: left;
  letter-spacing: 5px;
}

#merchText {
  margin-left: -78px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#merchText p {
  font-family: "Neutraface", Helvetica, sans-serif;
  color: #fff;
  text-align: left;
}

#merchBtn {
  margin-left: 10px;
  margin-top: 10px;
}

#merchBtn a {
  font-family: "arial_blackregular", Helvetica, sans-serif;
  color: #fff;

}

#disclaimer {
  height: 80px;
  background-color: #1B3D78;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

#disclaimer p {
  font-size: 0.75em;
  color: #fff;
  line-height: 25px;
}

#followUs {
  height: 161px;
  width: 579px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

#followUs p {
  font-family: "arial_blackregular", Helvetica, sans-serif;
  font-size: 1.5em;
  letter-spacing: 5px;
  padding-bottom: 30px;
}

#followUs div img {
  padding-left: 15px;
  padding-right: 15px;
}

#mainFooter {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

#footerLogo {
  width: 265px;
  height: 100px;
  position: absolute;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}

#footerLogo img {
  width: 265px;
  height: auto;
  /* margin-bottom: 20px; */
}

#footerLinks {
  width: 1035px;
  height: 36px;
  position: absolute;
  margin-left: 625px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footerLinks li {
  display: inline;
  justify-content: space-between;
  font-family: "arial_blackregular", Helvetica, sans-serif;
  padding: 15px;
}

#copyright {
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#copyright p {
  font-family: "Neutraface", Helvetica, sans-serif;
  font-size: 0.75em;
  color: #BC2929;
}

#aboutHero {
  height: 500px;
  width: auto;
  overflow: hidden;
  background-color: #6F6F6F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

#aboutHero p {
  position: absolute;
  font-family: "arial_blackregular", Helvetica, sans-serif;
  font-size: 2em;
  color: #fff;
  margin-left: 20em;
  letter-spacing: 10px;
}

#about {
  height: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ourValues {
  height: 450px;
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: row;
  position: relative;
}

#valueImg {
  top: 25;
  left: 0;
  margin-left: 100px;
  float: left;
  width: auto;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#valueText {
  top: 25;
  right: 0;
  margin-right: 100px;
  float: right;
  flex-direction: column;
  width: 700px;
  height: auto;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#valueHead {
  font-family: "arial_blackregular", Helvetica, sans-serif;
  font-size: 2em;
  color: #fff;
  padding-bottom: 20px;
}

#valueBlurb {
  text-align: left;
  color: #fff;
}

#brandVideo {
  height: 770px;
  width: 1165px;
  margin: auto;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#videoTitle {
  height: 75px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#videoTitle p {
  font-family: "arial_blackregular", Helvetica, sans-serif;
  color: #000;
  font-size: 3em;
  letter-spacing: 10px;
}

#videoClip {
  height: 655px;
  width: 1165px;
  background-color: #6F6F6F;
  display: flex;
  justify-content: center;
  align-items: center;
}

#productsHero {
  height: 500px;
  background-color: #6F6F6F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

#pilsnerMouthwash {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

#mouthwashTitle {
  height: 75px;
  width: 1240px;
  background-color: #CECECE;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#mouthwashSlogan {
  height: 45px;
  width: 630px;
  background-color: #CECECE;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#mainProdImg {
  width: 925px;
  height: 1050px;
  background-color: #6F6F6F;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#mainProdDesc {
  width: 925px;
  height: 315px;
  background-color: #CECECE;
  display: flex;
  justify-content: center;
  align-items: center;
}

#flavourTitle {
  height: 110px;
  background-color: #CECECE;
  display: flex;
  align-items: center;
  justify-content: center;
}

#flavourAssort {
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#adImgx2 {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

#contactForm {
  width: 1092px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactTitle {
  width: 955px;
  height: 90px;
  background-color: #6F6F6F;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contactFields {
  height: 1079px;
  width: 1092px;
  background-color: #CECECE;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button {
  height: 75px;
  width: 220px;
  color: #fff;
  text-decoration: none;
  font-family: "arial_blackregular", Helvetica, sans-serif;
  background-color: #1B3D78;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

/*
IDs Ends
*/
