@charset "UTF-8";

/*
Project Name: FIP - Grolsch x Crest
Author: Jessica Hernandez
*/

.transition1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background-color: #1B3D78;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;
}

.transition1.activeTran {
  opacity: 1;
  pointer-events: all;
}
